<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{ template "header" . }}
    {{ $results := .results }}
    {{ $databaseId := .databaseId }}
    <main class="px-3">
        {{ if .user }}
        <h2>Database:</h2>
        <table class="w-100">
            <thead class="fw-bold bg-secondary">
            <tr>
                <td>Delete</td>
                {{ range $key, $value := .fields }}
                <td style="border-color: #86989B; border-width: 1px"> {{ $key }}</td>
                {{ end }}
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            {{ range $result := $results }}
            <tr>
                <td>
                    <form action="/page/{{$result.Id}}/delete" method="post">
                        <button type="submit" class="btn btn-secondary btn-sm my-1">Delete</button>
                        <input name="databaseId" value="{{$databaseId}}" hidden>
                    </form>
                </td>
                {{ range $key, $value := $result.Properties}}
                <form action="/page/{{ $result.Id }}/update" method="post">
                {{ if eq $value.type "number"}}
                    <td>
                        <input type="number" value="{{ $value.number }}" name="{{ $key }}___{{ $value.type }}">
                    </td>

                    {{ else if eq $value.type "checkbox"}}
                    <td>
                        <input type="checkbox" {{ if $value.checkbox }} checked {{end}}
                               name="{{ $key }}___{{ $value.type }}">
                    </td>

                    {{ else if eq $value.type "title" }}
                    {{ range $title := $value.title}}
                    <td>
                        <input type="text" value="{{ $title.text.content }}" name="{{ $key }}___{{ $value.type }}">
                    </td>
                    {{else}}
                    <td>
                        <input type="text" value="" name="{{ $key }}___{{ $value.type }}">
                    </td>
                    {{end}}

                    {{ else if eq $value.type "date" }}
                    <td>
                        <input type="date" value="{{$value.date.start}}" name="{{ $key }}___{{ $value.type }}">
                    </td>

                    {{ end }}
                    {{ end }}
                    <td>
                        <button type="submit" class="btn btn-secondary btn-sm my-1">Update</button>
                    </td>
                    <input name="databaseId" value="{{$databaseId}}" hidden>
                </form>
            </tr>
            {{ end }}
            <tr></tr>
            <td colspan="50">Add:</td>
            <tr>
                <td>
                </td>
                {{ range $key, $value := .fields }}
                <form action="/page/add" method="post">
                    {{ if eq $value.type "number" }}
                    <td>
                        <input type="number" name="{{ $key }}___{{ $value.type }}" value="">
                    </td>

                    {{ else if eq $value.type "checkbox" }}
                    <td>
                        <input type="checkbox" name="{{ $key }}___{{ $value.type }}">
                    </td>
                    {{ else if eq $value.type "title" }}
                    <td>
                        <input type="text" name="{{ $key }}___{{ $value.type }}">
                    </td>
                    {{ else if eq $value.type "date" }}
                    <td>
                        <input type="date" name="{{ $key }}___{{ $value.type }}">
                    </td>
                    {{ end }}
                    {{ end }}
                    <td>
                        <button type="submit" class="btn btn-secondary btn-sm my-1">Add</button>
                    </td>
                    <input name="databaseId" value="{{$databaseId}}" hidden>
                </form>
            </tr>
            </tbody>
        </table>

        {{ else }}
        <p class="lead">Please login to continue</p>
        <p class="lead">
            <a href="{{.authUrl}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
        </p>
        {{ end }}
    </main>
</div>
{{ template "footer_scripts" . }}
</body>
</html>