<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{ template "header" . }}
    {{ $databases := .databases }}

    <main class="px-3">
        {{ if .user }}
        <h2>Databases:</h2>
        <ul>
            {{ range $database := $databases }}
            {{ $titles := $database.Title }}
            <p>{{ range $title := $titles}}
            <li><a class="nav-link" href="/database/{{$database.Id}}" style="text-align: left">
                {{$title.text.content}} </a></li>
            {{end }}</p>
            {{ end }}
        </ul>
        {{ else }}
        <p class="lead">Please login to continue</p>
        <p class="lead">
            <a href="{{.authUrl}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
        </p>
        {{ end }}
    </main>
</div>
{{ template "footer_scripts" . }}
</body>
</html>